{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<p>Hello anonshot is a social website it uses amazon buckets and was built using the django web framework.</p>

<p> The home page: shows the 60 most recently uploaded photos </p>

<p>Upload allows: you to upload photos and gifs to the location of your ip address, you can upload photos/leave comments anonymously </p>

<p>View photos: shows all the photos within a 50 mile range </p>

<p>you can also view all the photos an account or your account has uploaded by clicking the name above a photo or the your photos link.</p>

<p>API DOCS ##</p>
<p>Coming soon, please contact me if you want to help with the mobile application or hire me as a django developer gonnellcough@gmail.com </p>

{% endblock %}

