
{% if email_invalid %}
<p>that email was not found in our database</p>
{% endif %}
{% if success %}
<p>an email has been sent with log in instructions</p>
{% else %}
<title>email new password</title>
<p >enter your email and we will send you a new password that you can use to log in</p>
<form class="form-inline" action="/reset_password/" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <p >email:</p>
    <div class="fieldWrapperDates">
        {{ form.email.errors }}

        {{ form.email }}
        
    </div>

<p class="newSearch"><button type="submit" tabindex="8" id="verify_email" 
    class="col-sm-push-6 btn btn-primary text-uppercase btn-large">Send email</button></p>
</form>
{% endif %}
