{% extends "base.html" %}
{% block content %}

<title>about</title>


<p  class="allText">Welcome to bl4btc.io, this site was created by myself - Connell Gough in late 2016 as a means to allow the selling and buying of backlinks exclusivly with bitcoin. With the use of bitcoin I am able to lower the fees of my services by a magnitude, completely avoid fraudulent charges and increase the security for users. I run my own web crawler which gives me the ability to completely avoid forcing users to add scripts to their website for link display, instead I rely on users ability to add &lt;a href&gt; links to their  domain pages thereby avoiding search engines to conclude they have been bought or sold. So please enjoy the website I hope you find it helpful, send any questions, comments or issues to con@bl4btc.io. </p>


<p class="allText"> the photo of the day, credit: <a href="http://www.simonstalenhag.se/bilder/by_memorial.jpg">Simon Stalenhag</a></p>
 
<img  src="http://www.simonstalenhag.se/bilder/by_memorial.jpg">

{% endblock %}
